---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
	  {%- if page.author -%}
		<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
	  {%- endif -%}
	<div class="tags">
		{% assign sortedCategories = page.categories | sort %}
		{% for category in sortedCategories %}
			<span class="tag">
				<a href="/category/">#{{ category }}</a>
			</span>
		{% endfor %}
	</div>
    </p>
  </header>


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>

  <script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	  tex2jax: {
	  inlineMath: [['$','$'], ['\\(','\\)']],
	  processEscapes: true},
	  jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
	  extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
	  TeX: {
	  extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
	  equationNumbers: {
	  autoNumber: "AMS"
	  }
	  }
	  });
  </script>

<!--
  <div class="related">
	{% assign firstCategory = page.categories %}
	<h3>Related Posts in {{ firstCategory }}</h3>
	{% assign relatedCount = 0 %}
	{% for related in site.categories[firstCategory] %}
	% assign relatedCount = relatedCount | plus:1 %}
		<p>
		{{related.title}}
		</p>
		{% if relatedCount > 5 %}
			{% break %}
		{% endif %}
	{% else %}
		<p>No related posts.</p>
	{% endfor %}
  </div>
-->

<div class="related">
	{% for category in page.categories %}
		{% assign moreThanOneInCategory = false %}
		{% assign posts = site.categories[category] %}

		{% for post in posts %}
			{% if forloop.length > 1 %}
				{% assign moreThanOneInCategory = true %}
			{% endif %}
		{% endfor %}

		{% if moreThanOneInCategory == true %}
			<div class="related-posts">
				<h3>Other posts in "{{ category }}"</h3>

				<ul>
					{% for ps in posts %}
						{% unless ps.url == page.url %}
						<li>
							<a href="{{ps.url | prepend: site.baseurl}}">{{ ps.title }}</a>
						</li>
						{% endunless %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endfor %}
</div>

</article>
